body{
    text-align: center;
    font: message-box;
    background-color: aliceblue;
}

#introduction{
    background-color: rgb(58, 90, 59);
    width: 650px;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 400px;
    padding: 10px;
}

#contact{
    width: 200px;
    margin-top: 50px;
    margin-left:0px;
    background-color: rgb(64, 64, 72);
    border-color: black;
    border-width: 10px;
    padding: 10px;
    border-radius: 20px;
}

#navigation a{
    font-size: 20px;
    text-decoration: none;
    margin-left: 25px;
    color: purple;
    transition: 3s;
}

#navigation a:hover{
    -webkit-text-stroke: 0.5px white;
}

.summary{
    color: black;
    outline: 0px solid;
    transition: 2s;
}

.summary:hover{
    outline: 4px solid;
    outline-color: white;
}